.header {
    background-image: linear-gradient(180deg, #000, transparent);
}

.headerLogo {
    color: var(--primary-color);
}


.headerLink {
    padding: 4px 4px;

    &+.headerLink {
        margin-left: 40px;
    }
}

.headerNotiContainer, 
.headerUserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    transition: all .2s ease-in;

    &:hover {
        cursor: pointer;
    }
}

.headerNotiContainer::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 28%;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
}