.header {
    background-color: var(--secondary-color);
}

.headerLogo {
    color: var(--primary-color);
}

.headerNotiContainer, 
.headerUserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    transition: all .2s ease-in;

    &:hover {
        cursor: pointer;
    }
}

.headerNotiContainer::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 28%;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
}