.card {
    transition: all .3s ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.cardTitle {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.cardGenre {
    position: relative;
    &:hover {
        color: var(--primary-color);
    }

    &+& {
        padding-left: 12px;

        &::before {
            content: '';
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0px;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}