@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

@import './scss/variables';

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;
    color: $white-color;

    background-color: $background-color;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: $white-color;
    text-decoration: none;
}
